.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container{
  background: #39333f;
  color: #fff;
  border-radius: 1rem;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}